{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div>
    <h1>Paramètres :</h1>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    <form method="post" action="/calculer_nee_carre">
        <div>
            <label for="staticTaille" class="form-label">Taille</label>
                <input type="range" class="form-range" min="0" max="4" step="1" value="{{taille}}" id="staticTaille" name="taille">
            <label for="staticRemplissage" class="form-label">Remplissage</label>
                <input type="range" class="form-range" min="0" max="4" step="1" value="{{remplissage}}" id="staticRemplissage" name="remplissage">
            <label for="staticAmp_hasard" class="form-label">Amplitude hasard</label>
                <input type="range" class="form-range" min="0" max="4" step="1" value="{{amp_hasard}}" id="staticAmp_hasard" name="amp_hasard">
            <label for="staticAmp_rot" class="form-label">Amplitude rotation</label>
                <input type="range" class="form-range" min="0" max="5000" step="1" value="{{amp_rot}}" id="staticAmp_rot" name="amp_rot">
            <label for="staticNb_col" class="form-label">Nombre colonnes</label>
                <input type="range" class="form-range" min="0" max="100" step="1" value="{{nb_col}}" id="staticNb_col" name="nb_col">
            <label for="staticNb_lignes" class="form-label">Nombre lignes</label>
                <input type="range" class="form-range" min="0" max="100" step="1" value="{{nb_lignes}}" id="staticNb_lignes" name="nb_lignes">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="calculer" value="1">Calculer</button>
            <button type="submit" class="btn btn-danger" name="imprimer" value="1">Imprimer</button>
        </div>
    </form>

    <h1> Résultat : </h1>
    <img src="{{fichier}}" width="100%">
</div>
{% endblock %}