{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div>
    <h1>Paramètres :</h1>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    <form method="post" action="/calculer_oeuvre">
        <div>
            <label for="staticTaille" class="form-label">Taille</label>
                <input type="range" class="form-range" min="500" max="2000" step="1" value="{{taille}}" onchange="update_value(this)"  id="staticTaille" name="taille">
            <label for="staticnb_curves" class="form-label">Nombre de courbes</label>
                <input type="range" class="form-range" min="100" max="10000" step="1" value="{{nb_curves}}" id="staticnb_curves" name="nb_curves">
            <label for="staticnb_groups" class="form-label">nombre de groupes</label>
                <input type="range" class="form-range" min="1" max="100" step="1" value="{{nb_groups}}" id="staticnb_groups" name="nb_groups">
            <label for="staticEcart" class="form-label" >Ecart</label>
                <input type="range" class="form-range" min="0.001" max="1" step="0.001" value="{{ecart}}" id="staticEcart" name="ecart">
            <label for="staticAmp" class="form-label">Amplification courbe</label>
                <input type="checkbox" id="staticAmp" id="staticAmp" name="amp">
        </div>
        <div>
            <label for="statiCouleur" class="form-label">Couleur</label>
                <input type="color" id="staticCouleur" value="{{couleur}}" name="couleur">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="calculer" value="1">Calculer</button>
            <button type="submit" class="btn btn-danger" name="imprimer" value="1">Imprimer</button>
        </div>
    </form>

    <h1> Résultat : </h1>
    <img src="{{fichier}}" width="100%">
</div>
<script>
var input_texts={}
function init(){
    var inputs = document.getElementsByTagName("input")
    for (input of inputs){
        console.log(input)
        label = input.previousElementSibling
        input_texts[input.id]=label.innerHtml
    }
    console.log(input_texts)
}
function update_value(element){
    console.log(element)
}
init()
</script>
{% endblock %}