{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div>
    <h1>Paramètres :</h1>
    <!-- C'est grâce à l'attribut name que l'on peut récupérer la valeur associée dans symfony -->
    <form method="post" action="/calculer_suite_carre">
        <div>
            <label for="staticTaille" class="form-label">Taille</label>
                <input type="range" class="form-range" min="300" max="1920" step="1" value="{{taille}}" onchange="update_value(this)" id="staticTaille" name="taille">
            <label for="staticRemplissage" class="form-label">Remplissage</label>
                <input type="range" class="form-range" min="1" max="1920" step="1" value="{{remplissage}}" onchange="update_value(this)" id="staticRemplissage" name="remplissage">
            <label for="staticNb_carres" class="form-label">Nombre Carres</label>
                <input type="range" class="form-range" min="1" max="10000" step="1" value="{{nb_carres}}" onchange="update_value(this)" id="staticNb_carres" name="nb_carres">
            <label for="staticDecalage" class="form-label">Décalage</label>
                <input type="range" class="form-range" min="0.001" max="0.999" step="0.001" value="{{decalage}}" onchange="update_value(this)" id="staticDecalage" name="decalage">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="calculer" value="1">Calculer</button>
            <button type="submit" class="btn btn-danger" name="imprimer" value="1">Imprimer</button>
        </div>
    </form>

    <h1> Résultat : </h1>
    <img src="{{fichier}}" width="100%">
</div>
{% endblock %}